.textContainer {
    animation-name: moving;
    width: 100%;
    animation-duration: 1.5s;
    text-align: center;
    position: relative;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;

    .businessFasterHeading {
        font-size: 40px;
        color: var(--dark-color);
        font-weight: 500;
        margin-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;

        @media only screen and (max-width: 500px) {
            font-size: 25px;
        }

        .primaryClrText {
            color: var(--primary-color);
            font-weight: 700;
        }
    }

    .introTextContainer {
        font-size: 16px;
        color: var(--dark-color);
        line-height: 25px;
        padding-left: 10px;
        padding-right: 10px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        @media only screen and (max-width: 1000px) {
            width: 70%;
        }

        @media only screen and (max-width: 600px) {
            width: 100%;
        }

    }

    @keyframes moving {
        0% {
            position: relative;
            right: 500px;
        }

        100% {
            right: 0px;
        }
    }
}

.softwarePictureContainer {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}